<div class="page">
  <div class="container">
    <h2 class="display-4">Technology Stacks</h2>

    <div class="row">
      <div class="col">
        <h3>Application Stack</h3>
        <ul>
          <li ng-repeat="stack in $ctrl.applicationStack">
            {{stack.name}}
          </li>
        </ul>
      </div>
      <div class="col">
        <h3>Test Stack</h3>
        <ul>
          <li ng-repeat="stack in $ctrl.testStack">
            {{stack.name}}
          </li>
        </ul>
      </div>
      <div class="col">
        <h3>Build Stack</h3>
        <ul>
          <li ng-repeat="stack in $ctrl.buildStack">
            {{stack.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
