<div class="page">
  <div class="container">
    <h2 class="display-4">Technology Stacks</h2>

    <div class="row">
      <div class="col">
        <h3>Application Stack</h3>
        <ul class="list-unstyled">
          <li ng-repeat="technology in $ctrl.applicationStack">
            {{technology.name}}
          </li>
        </ul>
        <a href="/stacks/application">Learn More</a>
      </div>
      <div class="col">
        <h3>Test Stack</h3>
        <ul class="list-unstyled">
          <li ng-repeat="technology in $ctrl.testStack">
            {{technology.name}}
          </li>
        </ul>
        <a href="/stacks/test">Learn More</a>
      </div>
      <div class="col">
        <h3>Build Stack</h3>
        <ul class="list-unstyled">
          <li ng-repeat="technology in $ctrl.buildStack">
            {{technology.name}}
          </li>
        </ul>
        <a href="/stacks/build">Learn More</a>
      </div>
    </div>
  </div>
</div>
