body {
  background: $off-white;
  color: $black;
  font-family: $font-primary;
}

h1, h2, .h1, .h2 {
  font-family: $font-secondary;
}

.page {
  min-height: 80vh;
}

.text-blue {
  color: $blue;
}

.text-dark-grey {
  color: $dark-grey;
}
