// Colors
$off-white: #f7f7f7;
$black: #090c08;
$blue: #2196f3;
$dark-grey: #343a40;
$red: #dd1b16;
$dark-red: #b52e31;

$primary: $blue;
$secondary: $dark-grey;
$danger: $red;

// Font Families
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Raleway', sans-serif;

// Font Sizes
$font-size-xs: 0.8rem;
